@page "/"

@using Syncfusion.Blazor.Kanban

<div class="row">
    <div class="col-md-5">
        <div class="card" style="color:white; background-color:black">
            <div class="card-body">
                <h2>RUTA ACADÉMICA SUGERIDA</h2>
                <h3>LICENCIADO EN INGENIERÍA EN COMPUTACIÓN</h3>
                <h3>Centro Universitario de la Costa</h3>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card" style="">
            <div class="card-body">
                <label>Curso Taller: <strong>CT</strong> </label><br />
                <label>Seminario: <strong>S </strong></label><br />
                <label>Laboratorio: <strong>L </strong></label><br />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="">
            <div class="card-body">
                <label>Básica común </label>&nbsp;<label class="square1"></label><br />
                <label>Básica Particular </label>&nbsp;<label class="square2"></label><br />
                <label>Especializante Selectiva </label>&nbsp;<label class="square3"></label><br />
                <label>Optativa Abierta</label>&nbsp;<label class="square4"></label><br />
                <label>Especializante Obligatoria</label>&nbsp;<label class="square5"></label>
            </div>
        </div>
    </div>
</div>
<br />

<SfKanban CssClass="border-color:red;" TValue="TasksModel" KeyField="Semestre" DataSource="Tasks">
    <KanbanColumns>
        <KanbanColumn HeaderText="1" KeyField="@(new List<string>() {"1"})"></KanbanColumn>
        <KanbanColumn HeaderText="2" KeyField="@(new List<string>() {"2"})"></KanbanColumn>
        <KanbanColumn HeaderText="3" KeyField="@(new List<string>() {"3"})"></KanbanColumn>
        <KanbanColumn HeaderText="4" KeyField="@(new List<string>() {"4"})"></KanbanColumn>
        <KanbanColumn HeaderText="5" KeyField="@(new List<string>() {"5"})"></KanbanColumn>
        <KanbanColumn HeaderText="6" KeyField="@(new List<string>() {"6"})"></KanbanColumn>
        <KanbanColumn HeaderText="7" KeyField="@(new List<string>() {"7"})"></KanbanColumn>
        <KanbanColumn HeaderText="8" KeyField="@(new List<string>() {"8"})"></KanbanColumn>
        <KanbanColumn HeaderText="9" KeyField="@(new List<string>() {"9"})"></KanbanColumn>
    </KanbanColumns>
    <KanbanCardSettings HeaderField="Materia" FooterCssField="black" ContentField="Prerrequisito">
        <Template>
            @{
                TasksModel data = (TasksModel)context;
                        <div class="e-card-content" style="background-color:@data.Color">
                            <table class="card-template-wrap">
                                <tbody>
                                    <tr>
                                        <td class="CardHeader">Materia:</td>
                                        <td id="Materia"><strong>@data.Materia</strong></td>
                                    </tr>
                                    <br />
                                    <tr>
                                        <td class="CardHeader">Clave:</td>
                                        <td>@data.Clave</td>
                                    </tr>
                                    <br />
                                    <tr>
                                        <td class="CardHeader">Créditos:</td>
                                        <td>@data.Creditos</td>
                                    </tr>
                                    <br />
                                    <tr>
                                        <td class="CardHeader">Tipo:</td>
                                        <td>@data.Tipo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
            }
        </Template>
    </KanbanCardSettings>
    <KanbanSortSettings SortBy="SortOrderBy.Index" Field="RankId"></KanbanSortSettings>
</SfKanban>

<style Clave="text/css">
    .e-kanban .card-template-wrap td {
        background: none !important;
    }

    .e-kanban .card-template-wrap .CardHeader {
        font-weight: 500;
    }
    .e-kanban .e-kanban-header .e-header-cells{
        text-align:center;
    }
    .square1 {
        height: 15px;
        width: 15px;
        background-color: #E7AA45;
        margin-bottom: .0rem;
    }

    .square2 {
        height: 15px;
        width: 15px;
        background-color: #E17DE5;
        margin-bottom: .0rem;
    }

    .square3 {
        height: 15px;
        width: 15px;
        background-color: indianred;
        margin-bottom: .0rem;
    }

    .square4 {
        height: 15px;
        width: 15px;
        background-color: lightblue;
        margin-bottom: .0rem;
    }

    .square5 {
        height: 15px;
        width: 15px;
        background-color: #D84614;
        margin-bottom: .0rem;
    }

    .e-dialog .e-footer-content {
        display: none;
    }

    .e-kanban .e-kanban-header .e-header-cells .e-header-text {
        font-size: 50px
    }

    .e-kanban .e-kanban-table .e-header-cells .e-item-count {
        display: none;
    }

    .e-kanban .e-kanban-header .e-header-cells .e-header-wrap .e-header-title {
        display: center;
    }

    #Materia {
        font-size: 12px;
    }

    .e-dialog .e-dlg-header {
        display: none;
    }
</style>

@code {
    public class TasksModel
    {
        public string Materia { get; set; }
        public string Tipo { get; set; }
        public string Semestre { get; set; }
        public string Clave { get; set; }
        public string Creditos { get; set; }
        public string Assignee { get; set; }
        public int RankId { get; set; }
        public string Color { get; set; }
        public string Prerrequisito { get; set; }
    }

    public List<TasksModel> Tasks = new List<TasksModel>()
    {
        new TasksModel { Materia = "Lógica Matemática", Semestre = "1", Tipo="CT" , Clave = "IL247", Creditos = "8", RankId=1,Color = "#E7AA45" },
        new TasksModel { Materia = "Fundamentos de Programación",Tipo="CT" , Semestre = "1", Clave = "I5288", Creditos = "8", RankId=2,Color = "#E7AA45"},
        new TasksModel { Materia = "Precalculo", Semestre = "1", Tipo="CT" ,Clave = "IG738", Creditos = "8",RankId=3,Color = "#E7AA45" },
        new TasksModel { Materia = "Fundamentos de Física", Semestre = "1", Tipo="CT" ,Clave = "IL340", Creditos = "8",RankId=6,Color = "#E7AA45" },
        new TasksModel { Materia = "Introducción a la Ingeniería", Tipo="CT" ,Semestre = "1", Clave = "IL342", Creditos = "8",RankId=6,Color = "#E7AA45" },
        new TasksModel { Materia = "Expresión Oral y Escrita", Semestre = "1",Tipo="CT" , Clave = "LT251", Creditos = "6" ,RankId=6,Color = "#E7AA45"},

        new TasksModel { Materia = "Programación Estructurada",Semestre = "2",Clave = "IL352", Creditos = "10",RankId=1,Tipo="CT" ,Color =  "#E17DE5",Prerrequisito="Fundamentos de Programación" },
        new TasksModel { Materia = "Calculo Diferencial e Integral", Semestre = "2", Clave = "IL352",Tipo="CT" , Creditos = "9",RankId=2,Color = "#E7AA45",Prerrequisito="Precalculo"},
        new TasksModel { Materia = "Mecánica", Semestre = "2", Clave = "IL343", Creditos = "8",Tipo="CT" ,RankId= 3,Color = "#E7AA45",Prerrequisito="Fundamentos de Física"},
        new TasksModel { Materia = "Matemáticas Discretas", Semestre = "2", Clave = "IL345", Tipo="CT" ,Creditos = "8",RankId= 4,Color = "#E7AA45",Prerrequisito="Matemáticas Discretas"},
        new TasksModel { Materia = "Administración",Semestre = "2",Clave = "IL349", Creditos = "8",Tipo="CT" ,RankId= 5,Color = "#E7AA45"},
        new TasksModel { Materia = "Circuitos Electrónicos y Electromagnetismo", Semestre = "2",Tipo="CT" , Clave = "IL346", Creditos = "8",RankId=6,Color = "#E7AA45" },

        new TasksModel { Materia = "Sistemas Digitales", Semestre = "3", Clave = "IL363", Tipo="CT" ,Creditos = "8",RankId= 1,Color = "#D84614"},
        new TasksModel { Materia = "Algebra Lineal", Semestre = "3", Clave = "IB056",Tipo="CT" , Creditos = "8",RankId= 2,Color = "#E7AA45"},
        new TasksModel { Materia = "Administración de Proyectos Tecnológicos", Tipo="CT" ,Semestre = "3", Clave = "IL353", Creditos = "8",RankId= 3,Color = "#E17DE5" },
        new TasksModel { Materia = "Programación Orientada a Objetos",Tipo="CT" , Semestre = "3",  Clave = "IL289", Creditos = "8",RankId=4,Color = "#E17DE5",Prerrequisito="Fundamentos de Programación" },
        new TasksModel { Materia = "Ecuaciones Diferenciales", Semestre = "3",Tipo="CT" , Clave = "IL347", Creditos = "8",RankId=5,Color = "#E7AA45",Prerrequisito="Calculo Diferencial e Integral" },
        new TasksModel { Materia = "Ética y Legislación", Semestre = "3",Tipo="CT" , Clave = "IL341", Creditos = "8",RankId= 6,Color = "#E7AA45"},


        new TasksModel { Materia = "Probabilidad y Estadística",Tipo="CT" , Semestre = "4", Clave = "", Creditos = "8",Color = "#E7AA45",RankId=1 },
        new TasksModel { Materia = "Innovación Tecnológica",Tipo="CT" , Semestre = "4", Clave = "", Creditos = "8",Color = "#E7AA45" ,RankId=2},
        new TasksModel { Materia = "Estructura de Datos",Tipo="CT" , Semestre = "4", Clave = "", Creditos = "10",Color = "#E17DE5",RankId=3 },
        new TasksModel { Materia = "Análisis de Algoritmos",Tipo="CT" , Semestre = "4", Clave = "", Creditos = "8",Color = "#E17DE5",RankId=4,Prerrequisito="Estructura de Datos" },
        new TasksModel { Materia = "Métodos Numéricos",Tipo="CT" , Semestre = "4", Clave = "", Creditos = "8",Color = "#E7AA45",RankId=5 ,Prerrequisito="Ecuaciones Diferenciales" },
        new TasksModel { Materia = "Teoría de la computación", Tipo="CT" ,Semestre = "4", Clave = "", Creditos = "8",Color = "#E17DE5" ,RankId=6},


        new TasksModel { Materia = "Liderazgo y Emprendimiento",Tipo="CT" , Semestre = "5", Clave = "", Creditos = "7",Color = "#E7AA45",RankId=1 },
        new TasksModel { Materia = "Base de Datos", Tipo="CT" ,Semestre = "5", Clave = "", Creditos = "10",Color =  "#E17DE5",RankId=2 },
        new TasksModel { Materia = "Programación de Bajo Nivel",Tipo="CT" , Semestre = "5", Clave = "", Creditos = "8",Color =  "#E17DE5",RankId=3 },
        new TasksModel { Materia = "Redes de Computadoras", Tipo="CT" ,Semestre = "5", Clave = "", Creditos = "8",Color = "#D84614",RankId=4 },
        new TasksModel { Materia = "Arquitectura de Computadoras",Tipo="CT" , Semestre = "5", Clave = "", Creditos = "8",Color = "#D84614",RankId=5 ,Prerrequisito="Sistemas Digitales"  },
        new TasksModel { Materia = "Ingeniería de Software", Tipo="CT" ,Semestre = "5", Clave = "IL341", Creditos = "8",Color = "#D84614",RankId=6 },

        new TasksModel { Materia = "Sistemas Operativos", Tipo="CT" ,Semestre = "6", Clave = "", Creditos = "10",Color = "#D84614",RankId=1 },
        new TasksModel { Materia = "Compiladores", Semestre = "6", Tipo="CT" ,Clave = "", Creditos = "8",Color = "#E17DE5" ,RankId=2,Prerrequisito="Teoría de la computación"  },
        new TasksModel { Materia = "Programación Paralela y Concurrente",Tipo="CT" , Semestre = "6", Clave = "", Creditos = "8",Color = "#E17DE5",RankId=3  },
        new TasksModel { Materia = "Fundamentos de Inteligencia Artificial",Tipo="CT" , Semestre = "6", Clave = "", Creditos = "8",Color = "#E17DE5",RankId=4  },
        new TasksModel { Materia = "Interacción Humano Computadora", Tipo="CT" ,Semestre = "6", Clave = "", Creditos = "8",Color = "#D84614",RankId=5 },
        new TasksModel { Materia = "Seguridad en la Información",Tipo="CT" , Semestre = "6", Clave = "", Creditos = "8",Color = "#D84614",RankId=6 },

        new TasksModel { Materia = "Programación para Internet",Tipo="CT" , Semestre = "7", Clave = "7", Creditos = "7",Color = "#E17DE5",RankId= 1},
        new TasksModel { Materia = "Seminario Integración:Protocolo",Tipo="S" , Semestre = "7", Clave = "", Creditos = "4",Color = "#D84614",RankId= 2},
        new TasksModel { Materia = "Seminario Integración:Desarrollo", Tipo="S" ,Semestre = "7", Clave = "", Creditos = "6",Color = "#D84614" ,RankId=3},
        new TasksModel { Materia = "Seminario Integración:Comunicación",Tipo="S" , Semestre = "7", Clave = "", Creditos = "4",Color = "#D84614",RankId= 4},
        new TasksModel { Materia = "Programación Paralela y en Tiempo Real", Tipo="CT" ,Semestre = "7", Clave = "", Creditos = "8" ,Color = "indianred",RankId=5},
        new TasksModel { Materia = "Optativa I", Tipo="CT" ,Semestre = "7", Clave = "", Creditos = "8",Color = "lightblue",RankId=6 },

        new TasksModel { Materia = "Laboratorio Abierto:Diseño", Tipo="L" ,Semestre = "8", Clave = "", Creditos = "7",Color = "#D84614",RankId=1  },
        new TasksModel { Materia = "Laboratorio Abierto:Construcción", Tipo="L" ,Semestre = "8", Clave = "", Creditos = "7",Color = "#D84614" ,RankId=2 },
        new TasksModel { Materia = "Laboratorio Abierto:Pruebas", Tipo="L" ,Semestre = "8", Clave = "", Creditos = "7",Color = "#D84614" ,RankId=3 },
        new TasksModel { Materia = "Programación de Sistemas Embebidos", Tipo="CT" ,Semestre = "8", Clave = "", Creditos = "8",Color = "indianred",RankId=4 ,Prerrequisito="Programación Paralela y en Tiempo Real"},
        new TasksModel { Materia = "Optativa II", Tipo="CT" ,Semestre = "8", Clave = "", Creditos = "8" ,Color = "lightblue",RankId=5},

        new TasksModel { Materia = "Optativa III", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8",Color = "lightblue" ,RankId=1},
        new TasksModel { Materia = "Programación de Sistemas Avanzados", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8",Color = "indianred",RankId= 2,Prerrequisito="Programación de Sistemas Embebido"},
        new TasksModel { Materia = "Administración de Redes", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8",RankId=3 },
        new TasksModel { Materia = "Programación de Aplicaciones de Redes", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=4},
        new TasksModel { Materia = "Interconexión de Redes", Tipo="CT" ,Semestre = "", Clave = "", Creditos = "8" ,RankId=5},

        new TasksModel { Materia = "Aprendizaje de Máquina", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=6},
        new TasksModel { Materia = "Algoritmos Metaheuristicos", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=7},
        new TasksModel { Materia = "Redes Neuronales Aritificiales y Aprendizaje Profundo",Tipo="CT",Semestre = "", Clave = "", Creditos = "8",RankId=8 },

        new TasksModel { Materia = "Aprendizaje de Máquina", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=9},
        new TasksModel { Materia = "Algoritmos Metaheuristicos", Tipo="CT" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=10},
        new TasksModel { Materia = "Redes Neuronales Aritificiales y Aprendizaje Profundo",Tipo="CT",Semestre = "9", Clave = "", Creditos = "8",RankId=11 },

        new TasksModel { Materia = "Diseño de Videojuegos", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=12},
        new TasksModel { Materia = "Programación de Gráficos en 3D", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=13},
        new TasksModel { Materia = "Videojuegos en Red", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=14},

        new TasksModel { Materia = "Selectiva I", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8",RankId=14 },
        new TasksModel { Materia = "Selectiva II", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8",RankId=15 },
        new TasksModel { Materia = "Selectiva II", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8",RankId= 16},

        new TasksModel { Materia = "Optativa IV", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=17},
        new TasksModel { Materia = "Selectiva V", Tipo="L" ,Semestre = "9", Clave = "", Creditos = "8" ,RankId=18},





    };
}